ion-content {
    padding:1rem;
}
.screen-saver {
    height: 7rem;
    background: #FFD954;
    width: 100%;
}
.profile {
    width: 8rem;
    height: 8rem;
    display: block;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    position: relative;
    bottom: -2rem;
    left: 1rem;
    border: 4px solid white;
}
.pr-2 {
    padding-left: 1rem;
    padding-right: 2rem;
}
.mr-2 {
    margin-left: 2rem;
    margin-right: 2rem;
}
.mt-2 {
    margin-top: 2rem;
}
.mx-comp-2 {
    margin: auto 2rem;
}
ion-card {
    margin: 0;
}
ion-item {
--padding-start: 0;
}

.mentor-details {
    margin: auto 1rem;
    margin-bottom: 2rem;
}

/* iOS places the subtitle above the title */
ion-card-header.ios {
display: flex;
flex-flow: column-reverse;
}
ion-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}
.is-selected {
    border: 3px solid green;
    border-radius: 16px;
}
.session-header {
    padding: 0 2rem;
}
.session-content {
    background: white;
    margin: 10px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .date {
        font-weight: bold;
        text-align: center;
    }
    p {
        margin-bottom: .5rem;
        text-align: center;
    }
}
ion-row {
    margin-left: 1rem;
}
.about {
    margin: 1rem;
}
.tool-bar-bottom {
    border-radius: 0;
    position: fixed;
    bottom: 0;
}
.sessions-holder {
    margin-bottom: 100px;
}
