<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Mentor Details
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <section class="screen-saver">
      <img [src]="mentor?.mentor?.imageUrl" class="profile">
    </section>
    <section class="mx2">
      <h3 class="pr-2" style="margin-top: 4rem;">{{mentor?.mentor?.name}}</h3>
      <h5 class="pr-2">{{mentor?.mentor?.specialistIn}}</h5>
    </section>
    <section>
      <!-- <h4>Overview</h4> -->
      <ion-card class="mentor-details">
        <ion-card-header>
          <ion-card-title>Mentor Summary</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          <p><b>{{mentor?.mentor?.experience}}</b> of Experience</p>
          <p><b>{{mentor?.mentor?.totalMeetings}}</b> of Total meetings</p>
          <p>Qualification of <b>{{mentor?.mentor?.qualification}}</b></p>
          <p>Professional Experience in <b>{{mentor?.mentor?.professionalExperience}}</b></p>
        </ion-card-content>
      </ion-card>
    </section>
    <p class="about">{{mentor?.mentor?.aboutMentor}}</p>
    <h4 class="session-header">Available Sessions</h4>
    <section class="sessions-holder">
      <ion-grid>
        <ion-row>
          <ion-col class="session-content" size="3" *ngFor="let session of mentor.slots" [ngClass]="{'is-selected':session.isSelected}" (click)="changeSelection(session)">
              <p class="session-day" >{{session.fulfillment.startTime | date : 'EE'}}</p>
              <p class="date">{{session.fulfillment.startTime | date : 'MMM d'}}</p>
              <p class="">{{session.fulfillment.startTime | date : 'h:mm a'}}</p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </section>
    <ion-footer [translucent]="true" *ngIf="selectedSlot">
      <ion-toolbar class="tool-bar-bottom">
        <ion-title><ion-button (click)="onBookClick()">Book Slot</ion-button></ion-title>
      </ion-toolbar>
    </ion-footer>
</ion-content>
