.session-image {
    width: 100%;
    border-radius: 10px;
}

.time {
    color: #024f9d;
    display: flex;
    align-items: center;
    font-size: 500;
}
.cal-icon {
    font-size: 32px;
    margin-right: 10px;
}

.container {
    padding: 10px;
}
.title {
    font-size: 24px;
    line-height: 2.25rem;
    font-weight: 600;
}

.rsvp{
    width: 100% !important;
    border-radius: 10px !important;
    margin: 15px 0;
}

.flex-box {
    display: flex;
    align-items: center;
}

.mentor-icon {
    width: 100px;
    border-radius: 10px;
    margin-right: 15px;
}

.mentor-details{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.light-text {
    color: #333;
}

.capitalizze {
    text-transform: capitalize;
}

.mentor-container {
    padding: 20px 10px ;
}

.mntr-title {
    font-weight: 600;
}

.type {
    padding: 5px 10px;
    text-transform: capitalize;
    background: green;
    border: 1px solid white;
    color: white;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 1;
    border-radius: 3px;
}