<ion-content>
  <div class="container">
    <h2 class="title">{{sessionDetails?.item?.title}}</h2>
    <p class="time">
      <ion-icon name="calendar" class="cal-icon"></ion-icon>
      {{sessionDetails?.fulfillment?.startTime | date :'long'}}
    </p>
    <div style="position:relative" *ngIf="sessionDetails?.item?.image">
      <img [src]="sessionDetails?.item?.image" class="session-image" />
      <span class="type">{{sessionDetails?.fulfillment?.type}}</span>
    </div>
    <ion-button class="rsvp" (click)="rsvpSessionClick()" *ngIf="!sessionJoinLink">RSVP for this session</ion-button>
    <ion-button class="join-button" (click)="joinCall()" *ngIf="sessionJoinLink">Click to join the session</ion-button>
    <p>
      {{sessionDetails?.item?.description}}
    </p>
    <ion-card>
      <div class="mentor-container">
        <p class="mntr-title">Hosted By</p>
        <div class="flex-box">
          <img [src]="mentorName" class="mentor-icon" />
          <div class="mentor-details">
            <b class="capitalizze">{{sessionDetails?.mentor?.name}}</b>
            <div class="light-text">{{sessionDetails?.mentor?.professionalExperience}}</div>
            <div class="light-text"><b>{{sessionDetails?.mentor?.experience}}</b> of experience</div>
            <div class="light-text"><b>{{sessionDetails?.mentor?.totalMeetings}} </b> sessions conducted</div>
          </div>
        </div>

        <div style="margin-top: 25px;">
          <p class="mntr-title">About Mentor</p>
          <div class="light-text">{{sessionDetails?.mentor?.aboutMentor}}</div>
        </div>
      </div>

    </ion-card>
  </div>
</ion-content>