<ion-content>
  <h2 style="padding: 10px">Search result for "{{searchString}}"</h2>
  <ion-searchbar debounce="1000" placeholder="Search your projects here" [value]="searchString"
  (ionChange)="onSearch($event)" search-icon="search" class="search-bar">
</ion-searchbar>

  <div class="project-segments" *ngIf="segmentType">
    <ion-segment [value]="segmentType" (ionChange)="segmentChanged($event)" class="segment-card">
      <ion-segment-button value="mentor" class="flex-5">
        <ion-label class="font-12 text-transform-none">Mentors</ion-label>
      </ion-segment-button>
      <div class="hr-div">
        <hr class="hr-height">
      </div>
      <ion-segment-button value="sessions" class="flex-5">
        <ion-label class="font-12 text-transform-none">Sessions
        </ion-label>
      </ion-segment-button>
    </ion-segment>
  </div>

  <div *ngIf="segmentType=='mentor'">
    <div *ngFor="let mentor of mentors">
      <app-mentor-card [cardData]="mentor" (cardSelect)="onClick($event)"></app-mentor-card>
    </div>
  </div>

  <div *ngIf="segmentType=='sessions'">
    <div *ngFor="let session of sessions">
      <app-mentor-session-card [session]="session" (onCardCickEvent)="goToSessionDetails($event)"></app-mentor-session-card>
    </div>
  </div>

</ion-content>