<ion-content>
  <div *ngFor="let mentor of mentors">
    <app-mentor-card [cardData]="mentor"></app-mentor-card>

  </div>

  <!-- <figure class="snippet" *ngFor="let mentor of mentors">
    <div class="image">
      <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/pr-sample23.jpg" alt="pr-sample23" /></div> -->
  <!-- <figcaption>
      <h3>{{mentor.mentor.name}}</h3>
      <h6>{{mentor.mentor.specialistIn}}, {{mentor.mentor.experience}}</h6>
      <p>
        {{mentor.mentor.professionalExperience}}
      </p>
    </figcaption> -->
  <!-- <mentor-card [cardData]="mentor"></mentor-card>
    <a href="#"></a>
  </figure> -->
</ion-content>