.snippet {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    color: #ffffff;
    float: left;
    font-family: 'Lato', Arial, sans-serif;
    font-size: 16px;
    max-width: 310px;
    min-width: 250px;
    overflow: hidden;
    position: relative;
    text-align: left;
    width: 100%;
  }
  ​
  .snippet * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
  }
  ​
  .snippet img {
    max-width: 100%;
    vertical-align: top;
    position: relative;
  }
  ​
  .snippet figcaption {
    padding: 25px 20px 25px;
    position: absolute;
    bottom: 0;
    z-index: 1;
  }
  ​
  .snippet figcaption:before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: '';
    opacity: 0.8;
    z-index: -1;
  }
  ​
  // .snippet .date {
  //   background-color: #fff;
  //   border-radius: 50%;
  //   color: #700877;
  //   font-size: 18px;
  //   font-weight: 700;
  //   min-height: 48px;
  //   min-width: 48px;
  //   padding: 10px 0;
  //   position: absolute;
  //   right: 15px;
  //   text-align: center;
  //   text-transform: uppercase;
  //   bottom: 20px;
  // }
  ​
  // .snippet .date span {
  //   display: block;
  //   line-height: 14px;
  // }
  ​
  // .snippet .date .month {
  //   font-size: 11px;
  // }
  ​
  .snippet h3,
  .snippet p {
    margin: 0;
    padding: 0;
  }
  ​
  .snippet h3 {
    display: inline-block;
    font-weight: 700;
    letter-spacing: -0.4px;
    margin-bottom: 5px;
  }
  ​
  .snippet p {
    font-size: 0.8em;
    line-height: 1.6em;
    margin-bottom: 0px;
  }
  ​
  .snippet a {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    z-index: 1;
  }
  ​
  .snippet:hover img,
  .snippet.hover img {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  