<ion-content>
  <div class="project-segments">
    <ion-segment [(ngModel)]="segmentType" (ionChange)="segmentChanged($event)" class="segment-card">
      <ion-segment-button value="mentor" class="flex-5">
        <ion-label class="font-12 text-transform-none">Mentors</ion-label>
      </ion-segment-button>
      <div class="hr-div">
        <hr class="hr-height">
      </div>
      <ion-segment-button value="sessions" class="flex-5">
        <ion-label class="font-12 text-transform-none">Sessions
        </ion-label>
      </ion-segment-button>
    </ion-segment>
  </div>
  <div *ngFor="let mentor of mentors">
    <app-mentor-card [cardData]="mentor"></app-mentor-card>
  </div>
</ion-content>